/* ============ DEFAULTS ============ */
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #f6fafe;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}
.td-none {
  text-decoration: none;
  color: inherit;
}

/* ============ COMPONENTS ============ */
header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #dfe2e4;
  padding: 0 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav {
  height: inherit;
  border: 1px solid red;
}
header ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.logo-wrapper {
  font-size: 1.4rem;
}
.logo-wrapper span {
  background-color: #3e86ac;
  padding: 0 5px;
  line-height: 0;
  border-radius: 2px;
  color: white;
}

/* ============ COMPONENTS ============ */
